<?xml version="1.0"?>
<launch>

  <arg name="external_update" default="false" doc="option to update the state of the vehicle based off of /state/ parameter"/>
  <arg name="vehicle_name" default="hmmwv"/>
  <arg name="global_params_file" default="$(find vehicle_description)/config/global_params.yaml"/>
  <arg name="vehicle_params_file" default="$(find vehicle_description)/config/mavs_params.yaml"/>
  <arg name="obstacle_num" default="3"/>


  <!--  ************** Global Parameters ***************  -->
  <!--param name="/use_sim_time" value="true"/-->
  <rosparam command="load" file="$(arg global_params_file)" />
  <rosparam command="load" file="$(arg vehicle_params_file)" />

  <!-- start gazebo and load the world -->
  <include file="$(find vehicle_description)/launch/world.launch" />

  <!-- spawn robot into Gazebo -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find vehicle_description)/urdf/mavs.urdf.xacro" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg vehicle_name)"/>

</launch>
