<?xml version="1.0"?>
<launch>

  <!-- TODO fix gazebo and RViz views on hmmwv -->
  <!-- TODO add in an option to pause the simulation before it starts -->
  <!-- TODO figure out how to parametrically get obstacle_num -->
  <!-- TODO ask TQ if lidar_data should be launched here -->

  <arg name="system_params_path"/>
  <arg name="vehicle_params_path"/>
  <arg name="case_params_path"/>
  <arg name="obstacle_num"/>
  <arg name="gui"/>

  <!-- start gazebo and load the world and spawn robot into Gazebo -->
  <include file="$(find vehicle_description)/launch/vehicle.launch">
      <arg name="gui" value="$(arg gui)"/>
      <arg name="vehicle_params_file" value="$(arg vehicle_params_path)"/>
      <arg name="case_params_file" value="$(arg case_params_path)"/>
  </include>

  <!-- launch obstacles and make them move -->
  <include file="$(find vehicle_description)/launch/obstacles.launch">
      <arg name="obstacle_num" value="$(arg obstacle_num)"/>
      <arg name="case_params_file" value="$(arg case_params_path)"/>
  </include>
  <!--make obstacles move -->
  <node name="move_obstacles" pkg="vehicle_description" type="move_obstacles.jl" output="screen"/>

  <!-- move hmmwv -->
  <node name="move_vehicle" pkg="vehicle_description" type="move_vehicle.jl" output="screen"/>

  <!-- publish the global position of the robot -->
  <node name="postion" pkg="vehicle_description" type="link_positions.jl" output="screen"/>
  <node pkg="vehicle_description" type="frame_tf_broadcaster" name="frame_tf_broadcaster" />
  <!-- TODO remove this and use odom and gps-->
  <node pkg="vehicle_description" type="position_broadcaster" name="postion_broadcaster"/>

</launch>
