<?xml version="1.0"?>

<robot name="vehicle_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--- Surface properties -->
  <gazebo reference="wheel_fl" >
    <mu1>${mu1}</mu1>
    <mu2>${mu2}</mu2>
    <minDepth>${minDepth}</minDepth>
    <kp>${kp}</kp>
  </gazebo>

  <gazebo reference="wheel_fr" >
    <mu1>${mu1}</mu1>
    <mu2>${mu2}</mu2>
    <minDepth>${minDepth}</minDepth>
    <kp>${kp}</kp>
  </gazebo>

  <gazebo reference="wheel_rl" >
    <mu1>${mu1}</mu1>
    <mu2>${mu2}</mu2>
    <minDepth>${minDepth}</minDepth>
    <kp>${kp}</kp>
  </gazebo>

  <gazebo reference="wheel_rr" >
    <mu1>${mu1}</mu1>
    <mu2>${mu2}</mu2>
    <minDepth>${minDepth}</minDepth>
    <kp>${kp}</kp>
  </gazebo>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>${robotNamespace}</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="p3d" filename="libgazebo_ros_p3d.so">
      <!-- <robotNamespace>/hmmwv</robotNamespace> -->
      <bodyName>${base_link}</bodyName>
      <topicName>${ground_truth_topic}</topicName>
      <frameName>${frameName}</frameName>
      <updateRate>100.0</updateRate>
    </plugin>
 </gazebo>

</robot>
