<?xml version="1.0"?>
<launch>
  <!-- demo of nloptcontrol_planner & ros_chrono with trajectory_follower.cpp & vehicle_description -->

  <!--  ************** load args and parameters ***************  -->
  <!--common args and parameters-->
  <arg name="system_params_path" default="$(find system)/config/system/demos/demoI.yaml"/>
  <arg name="vehicle_params_path" default="$(find system)/config/vehicle/hmmwv.yaml"/>
  <arg name="case_params_path" default="$(find system)/config/case/s1.yaml"/>
  <arg name="pid_params_path" default="$(find system)/config/pidcontroller/pidcontrol.yaml"/>
  <rosparam command="load" file="$(arg case_params_path)" />
  <rosparam command="load" file="$(arg pid_params_path)" />
  <rosparam command="load" file="$(arg system_params_path)" />
  <rosparam command="load" file="$(arg vehicle_params_path)" />

  <!--nloptcontrol_planner args and parameters-->
  <arg name="planner_params_path" default="$(find system)/config/planner/nloptcontrol_planner/default.yaml"/>
  <rosparam command="load" file="$(arg planner_params_path)" />

  <!--vehicle_description args and parameters-->
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/> <!-- NOTE this pause overrides system/flags/pause -->

  <!-- sim time setting -->
  <param name="use_sim_time" value="true"/>

  <!--  ************** load args and parameters ***************  -->

  <!--  ************** launch scripts ***************  -->

  <include file="$(find nloptcontrol_planner)/launch/main.launch">
    <arg name="case_params_path" value="$(arg case_params_path)"/>
    <!--arg name="pid_params_path" value="$(arg pid_params_path)"/-->
    <arg name="planner_params_path" value="$(arg planner_params_path)"/>
    <arg name="system_params_path" value="$(arg system_params_path)"/>
    <arg name="vehicle_params_path" value="$(arg vehicle_params_path)"/>
  </include>

  <include file="$(find vehicle_description)/launch/main.launch">
    <arg name="system_params_path" value="$(arg system_params_path)"/>
    <arg name="vehicle_params_path" value="$(arg vehicle_params_path)"/>
    <arg name="case_params_path" value="$(arg case_params_path)"/>
    <!--arg name="pid_params_path" value="$(arg pid_params_path)"/-->
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!--  ************** launch scripts ***************  -->


  <!--  ************** additional nodes ***************  -->

  <!--ros_chrono-->
  <node name="Chronode" pkg="ros_chrono" type="trajectory_follower" cwd="node"  output="screen"/>
  <node name="sim_time" pkg="sim_time" type="ros_get_world_time" output="screen" />

  <!--initialize system-->
  <node name="bootstrap" pkg="system" type="bootstrap.jl" output="screen"/>

  <!--unpause Gazebo-->
  <node name="unpause_gazebo" pkg="vehicle_description" type="unpause.jl"/>

  <!--display trajectory-->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find obstacle_detector)/resources/display.rviz"/>

  <!--system_shutdown node-->
  <node name="system_shutdown" pkg="system" type="system_shutdown" output="screen" required="true">
     <rosparam file="$(arg system_params_path)" command="load"/>
  </node>

  <!-- Run the visualization node, this node starts only after system/flags/initialized becomes True
  So make sure to initilize this parameter in your code -->
  <node name="visualization" pkg="visualization" type="start.sh" />

  <!--  ************** additional nodes ***************  -->

</launch>
