<?xml version="1.0"?>
<launch>
  <arg name="known_environment" default="false"/>
  <arg name="frame_id" default="velodyne_top_link" />
  <arg name="manager" default="$(arg frame_id)_nodelet_manager" />

  <include file="$(find vehicle_description)/launch/demo.launch">
    <arg name="global_params_file" default="$(find system)/config/system/global.yaml"/>
    <arg name="vehicle_params_file" default="$(find system)/config/vehicle/hmmwv.yaml"/>
    <arg name="case_params_file" default="$(find system)/config/case/case1.yaml"/>
    <arg name="obstacle_num" default="3"/>
    <arg name="gui" default="true"/>

  </include>

  <include file="$(find system)/launch/obstacle_detector.launch">
    <arg name="frame_id" value="$(arg frame_id)" />
    <arg name="manager" value="$(arg manager)" />
  </include>

</launch>
