<?xml version="1.0"?>
<launch>

  <!-- demo of vehicle_description and ros_base_planner and Chrono-->

  <!--  ************* vehicle_description args and parameters ***************  -->
  <arg name="system_params_path" default="$(find system)/config/system/test_rviz.yaml"/>
  <arg name="vehicle_params_path" default="$(find system)/config/vehicle/hmmwv.yaml"/>
  <arg name="case_params_path" default="$(find system)/config/case/s1.yaml"/>
  <arg name="gui" default="true"/>
  <!-- Use Chrono time-->
  <arg name="paused" default="false"/>

  <arg name="laser_scan_topic" default="/lidar_points"/>
  <arg name="rviz_config_file" default="$(find system)/config/planner/ros_base_planner/default.rviz"/>

  <param name="system_params_path" value="$(arg system_params_path)"/>
  <param name="case_params_path" value="$(arg case_params_path)"/>

  <rosparam command="load" file="$(arg case_params_path)" />
  <rosparam command="load" file="$(arg system_params_path)" />
  <rosparam command="load" file="$(arg vehicle_params_path)" />

  <include file="$(find vehicle_description)/launch/main.launch">
    <arg name="system_params_path" value="$(arg system_params_path)"/>
    <arg name="vehicle_params_path" value="$(arg vehicle_params_path)"/>
    <arg name="case_params_path" value="$(arg case_params_path)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- display the trajectory -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find system)/display.rviz"/>

  <!--node name="unpause_gazebo" pkg="vehicle_description" type="unpause.jl" output="screen"/-->

</launch>
